*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}

body{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
}

button{
  padding: 10px 90px;
  border: none;
  background-color: #2e8b57;
  color: #FFFFFF;
  border-radius: 12px;
}

button:hover{
  background-color: hsl(158, 36%, 37%);
}

main{
  inline-size: 90%;
  margin: auto;
}

.card{
  display: flex;
}

.info{
  background-color: #FFFFFF;
  padding: 1rem;
}

.info p:nth-child(1){
  letter-spacing: 0.5rem;
  font-weight: bold;
  margin-block-end: 1rem;
}

.info h1{
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
}

.info p:nth-of-type(2) {
  margin-block-start: 1.5rem;
  font-size: 16px;
  font-weight: bold;
}

.price{
  display: flex;
  gap: 2rem;
  margin-block-end: 2rem;
  margin-block-start: 1.5rem;
}

.price p:nth-of-type(1){
  text-decoration: line-through;
}

.price h1:first-child{
  color: hsl(158, 36%, 37%);
}

.button{
  position: relative;
}

.icon{
  position: absolute;
  top: 10px;
  left: 50px;
}

.attribution{
  font-size: 11px;
  text-align: center;
  margin-block-start: 40px;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1023px) {

  .desktop-image{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .info h1:nth-of-type(1){
    font-size: 40px;
  }

  .card{
    margin-block-start: 100px;
    margin-inline-start: 300px;
  }

  .desktop-image{
    block-size: 450px;
  }

  .mobile-image{
    display: none;
  }

  .info{
    inline-size: 350px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

}

@media (max-width: 1024px) {

  .mobile-image{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .card{
    flex-direction: column;
    margin-block-start: 30px;
  }

  .desktop-image{
    display: none;
  }

  .info{
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

}
